.button {
  background: #d47e36;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem;
}

.button:hover {
  background: #c76414;
}

.link {
  height: 5vh;
}
